POSTGRES_DB=gazprom_posts_warehouse
POSTGRES_USER=posts_loader
POSTGRES_PASSWORD=posts_loader_pass
POSTGRES_PORT=5432
DATABASE_URL=postgresql://posts_loader:posts_loader_pass@localhost:5432/gazprom_posts_warehouse
